<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.shujiaapplication">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.OrderSuccess"></activity>
        <activity android:name=".ui.OrderSecurity" />
        <activity android:name=".ui.BuildingView" />
        <activity android:name=".ui.BuildingLiving" />
        <activity android:name=".ui.BuildingPay" />
        <activity android:name=".ui.IntroduceAppActivity" />
        <activity android:name=".ui.ResetPasswordActivity" />
        <activity android:name=".ui.ShowBuildListActivity" />
        <activity android:name=".ui.DiscountActivity" />
        <activity android:name=".ui.HouseInfomationActivity" />
        <activity android:name=".ui.LandlordActivity" />
        <activity android:name=".ui.AddHouseActivity" />
        <activity android:name=".ui.HouseChooseActivity" />
        <activity android:name=".ui.DateChooseActivity" />
        <activity android:name=".ui.CityChooseActivity" />
        <activity android:name=".ui.SuccessAccountActivity" />
        <activity android:name=".ui.NewAccountActivity" />
        <activity android:name=".ui.ForgetPasswordActivity" />
        <activity android:name=".ui.HomePageActivity" />
        <activity android:name=".ui.PersonalInfoActivity" />
        <activity android:name=".ui.ScoreActivity" />
        <activity android:name=".ui.ManageTravelerActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>